!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Resume
    = favicon_link_tag 'resume-icon.ico'
    = csrf_meta_tags
    = action_cable_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    :javascript
      var clevertap = {event:[], profile:[], account:[], onUserLogin:[], notifications:[]};
       // replace with the CLEVERTAP_ACCOUNT_ID with the actual ACCOUNT ID value from your Dashboard -> Settings page
       clevertap.account.push({"id": "CLEVERTAP_ACCOUNT_ID"});
       (function () {
           var wzrk = document.createElement('script');
           wzrk.type = 'text/javascript';
           wzrk.async = true;
           wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
           var s = document.getElementsByTagName('script')[0];
           s.parentNode.insertBefore(wzrk, s);
        })();

  %body
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
        %p.navbar-text.navbar-right
          Signed in as
          %a.navbar-link{:href => "#"} #{current_user.name}
          = image_tag(current_user.omniauth_image, height: '30', width: '30') unless current_user.omniauth_image.nil?

    = yield