!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Resume
    = favicon_link_tag 'resume-icon.ico'
    = csrf_meta_tags
    = action_cable_meta_tag
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    :javascript
      var publicKey = new Uint8Array(#{User.public_key_bytes});

  %body
    #token_id{:class => "#{cookies.signed[:token_id]}"}
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
        %p.navbar-text.navbar-right
        %p#public_key{:class=>""}
          Signed in as
          %a.navbar-link{:href => "#"} #{current_user.name}
          = image_tag(current_user.omniauth_image, height: '30', width: '30') unless current_user.omniauth_image.nil?

    = yield