!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title The Resume
    = favicon_link_tag 'resume-icon.ico'
    = csrf_meta_tags
    = action_cable_meta_tag
    %link{:href => "/manifest.json", :rel => "manifest"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    = stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'admin', 'data-turbolinks-track': 'reload'
    :javascript
      var publicKey = new Uint8Array(#{User.public_key_bytes});
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-98470669-1', 'auto');
      ga('send', 'pageview');


  %body
    #token_id{:class => "#{cookies.signed[:token_id]}"}
    %nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
        %p.navbar-text.navbar-right
        %p#public_key{:class=>""}
          Signed in as
          %a.navbar-link{:href => "#"} #{current_user.name}
          = image_tag(current_user.omniauth_image, height: '30', width: '30') unless current_user.omniauth_image.nil?

    = yield