<!DOCTYPE html>
<html>
  <head>
    <title>The Resume</title>
  	<%= favicon_link_tag 'resume-icon.ico'%>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes"></head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      var publicKey = new Uint8Array(<%=User.public_key_bytes%>);
    </script>

  <body>	
  <div id="token_id" class="<%= cookies.signed[:token_id]%>">token_id<%= cookies.signed[:token_id]%></div>
    <%= yield %>
  </body>
</html>
